name: GdUnit4 Tests
on:
  push:
    paths-ignore:
      - "**.jpg"
      - "**.png"
      - "**.svg"
      - "**.md"
      - "**plugin.cfg"
  pull_request:
    paths-ignore:
      - "**.jpg"
      - "**.png"
      - "**.svg"
      - "**.md"
      - "**plugin.cfg"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    runs-on: 'ubuntu-latest'
    permissions:
      actions: write
      checks: write
      contents: write
      pull-requests: write
      statuses: write

    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        godot-version: ['4.2', '4.3']

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: MikeSchulze/gdunit4-action@v1.1.5
        with:
          version: "installed"
          godot-version: ${{ matrix.godot-version }}
          paths: 'res://test/'
          publish-report: false
          report-name: unit-test-report-${{ matrix.godot-version }}
